user runner;
error_log  "${RUNNER_TEMP}/error.log";
pid        "${RUNNER_TEMP}/nginx.pid";
events {
  worker_connections  4096;  ## Default: 1024
}
http {
  error_log  "${RUNNER_TEMP}/error.log";
  access_log  "${RUNNER_TEMP}/access.log";
  server {
    listen 8080;
    location /maven/ {
      auth_basic "Maven";
      auth_basic_user_file "${RUNNER_TEMP}/.htpasswd";
      proxy_pass https://repo1.maven.org/maven2/;
    }
  }
}
